<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
		type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="ioc_unity_containers"/>
    <namespace name="ioc_unity_containers.calculators"/>
    <namespace name="ioc_unity_containers.workers"/>
    <namespace name="ioc_unity_containers.interfaces"/>
    <assembly name="ioc_unity_containers"/>

    <alias alias="ICalculator" type="ioc_unity_containers.interfaces.ICalculator, interfaces"/>

    <alias alias="CatCalc" type="ioc_unity_containers.calculators.CatCalc, calculators"/>
    <alias alias="PlusCalc" type="ioc_unity_containers.calculators.PlusCalc, calculators"/>
    <alias alias="StateCalc" type="ioc_unity_containers.calculators.StateCalc, calculators"/>

    <alias alias="Worker" type="ioc_unity_containers.workers.Worker, ioc_unity_containers"/>
    <alias alias="Worker2" type="ioc_unity_containers.workers.Worker2, ioc_unity_containers"/>
    <alias alias="Worker3" type="ioc_unity_containers.workers.Worker3, ioc_unity_containers"/>

    <!-- container -->
    <container name="cont">
      <!-- register calculators -->
      <register type="ICalculator" mapTo="CatCalc" name="catcalc"/>
      <register type="ICalculator" mapTo="PlusCalc" name="pluscalc"/>
      <register type="ICalculator" mapTo="StateCalc" name="statecalc">
        <lifetime type="Unity.Lifetime.ContainerControlledLifetimeManager, Unity.Abstractions"/>
        <constructor>
          <param name="index" value="1"/>
        </constructor>
      </register>

      <!-- register main workers -->
      <register type="Worker" name="usecatcalc">
        <constructor>
          <param name="calculator" type="ICalculator">
            <dependency name="catcalc"/>
          </param>
        </constructor>
      </register>

      <register type="Worker2" name="usepluscalc">
        <method name="SetCalc">
          <param name="calculator" type="ICalculator">
            <dependency name="pluscalc"/>
          </param>
        </method>
      </register>

      <register type="Worker3" name="usecatcalc">
        <property name="_calculator">
          <dependency name="catcalc"/>
        </property>
      </register>

      <!-- register workers with state -->
      <register type="Worker" name="usestate">
        <constructor>
          <param name="calculator" type="ICalculator">
            <dependency name="statecalc"/>
          </param>
        </constructor>
      </register>

      <register type="Worker2" name="usestate">
        <method name="SetCalc">
          <param name="calculator" type="ICalculator">
            <dependency name="statecalc"/>
          </param>
        </method>
      </register>

      <register type="Worker3" name="usestate">
        <property name="_calculator">
          <dependency name="statecalc"/>
        </property>
      </register>
      
    </container>
  </unity>
</configuration>